body {
    background-color: var(--neutral-light);
    color: var(--neutral-medium);
    font-family: Roboto, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding-left: 100px;
    padding-right: 100px;
}

:root{
    --primary-default: #072AC8;
    --accent: #43D2FF;
    --primary-hover: #A2D6F9;
    --primary-tappen: #D1EDFF;
    --neutral-dark: #292E47;
    --neutral-medium: #6B708D;
    --neutral-light: #F4F6FC;
    --neutral-light-blue: #ECF7FF;
    --secondary: #FFC600;

}

h1 {
    font-size: 60px;
    font-weight: bold;
    color: var(--neutral-dark);
}

h2 {
    font-size: 50px;
    font-weight: bold;
}

h3 {
    font-size: 40px;
    font-weight: bold;
}

h4 {
    font-size: 24px;
    font-weight: bold;
    line-height: 150%;
}
/*NAVBAR*/

.header-container {
  display: flex;
  flex-direction: column;
  height: 10rem;
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 100px;
  padding-right: 100px;
  flex: 1; /* Add some padding for spacing */
}

.navbar ul {
  list-style: none;
  display: flex;
  justify-content: center; /* Aligns the list items to the center */
}
  
.navbar ul li {
  margin-right: 20px; /* Add spacing between list items */
}
.navbar .logo {
  margin-right: auto; /* Pushes the logo to the left */
}

.navbar ul li a {
  text-decoration: none;
  color: var(--neutral-medium); /* Remove underline from links */
}
.navbar ul li a:hover {
  color: var(--primary-default); /* Remove underline from links */
}
.button-contact {
  padding: 10px 20px;
  background-color: var(--primary-default); /* Example button color */
  color: #fff; /* Example text color */
  border: none;
  cursor: pointer;
}

/*Hero Section*/

.hero{
  margin-bottom: 10rem;
}

.hero_content{
  display: flex;
  align-items: center;
  gap: 5rem;
  padding-left: 100px;
  padding-right: 100px;
}

.hero_text,
.hero_image{
  flex: 0 10 50%;
}

.hero_text p{
  margin-bottom: 2rem;
}

.hero_text p{
  margin-bottom: 2rem;
}

.hero_image{
  position: relative;
}

.hero_image img {
  max-width: 40rem; /* Add this line to make the image responsive */
  height: auto; /* Maintain aspect ratio */ /* Adjust the maximum height of the image */
}

.hero_image_card{
  position: absolute;
  top: 2rem;
  left: 0;
}

.hero_image_thumbs{
  position: absolute;
  bottom: -2rem;
  right: 0;
}

.hero_links a{
  text-decoration: none;
  margin-right: 2rem;
}

.client-section{
  filter: grayscale(1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;  
  margin-bottom: 10rem;
}


/*Project Section*/

.project-section {
  padding: 20px;
}
.container-projects {
  display: flex;
  justify-content: space-between;
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margin */
}
.container-projects div {
  flex: 1;
  margin-right: 10px;
  background-color: #fff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Adjust the shadow as needed */
  margin-bottom: 10rem; /* Space at the bottom */
  padding-bottom: 10rem; /* Remove bottom padding */
}
.container-projects div:last-child {
  margin-right: 0;
}
.container-projects img {
  max-width: 100%;
  height: 80%;
}